.header {
    height: 100vh;
    /* background-image: url(pictures/soroush-karimi-Mx5kwvzeGC0-unsplash-copy.jpg); */
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-attachment: fixed;

    /* Background with gradient and image */
    background: linear-gradient(to right, var(--green-2) 40%, rgba(255, 255, 255, 0) 70%), 
                url('pictures/brooke-lark-08bOYnH_r_E-unsplash-copy.jpg');
    background-size: cover; /* Ensures the image covers the right half */
    background-position: center right; /* Positions the image on the right */
}

.header .nav {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.header .nav .row-1 {
    display: flex;
    background-color: var(--green-1);
    border: 1px solid var(--green-2);
    border-radius: 50px;
    padding: 0 20px;
    box-shadow: 4px 4px 6px var(--green-2);
}

.header .nav .row-1 .col-1 {
    width: 60%;
    margin: auto 0;
}

.header .nav .row-1 .col-1 p {
    color: var(--green-2);
}

.header .nav .row-1 .col-2 {
    width: 40%;
    margin: auto 0;
}

.header .nav .row-1 .col-2 ul {
    display: flex;
    list-style: none;
    padding: 0;
    float: right;
    right: 0;
}

.header .nav .row-1 .col-2 ul li {
    display: flex;
}

.header .nav .row-1 .col-2 ul li a {
    text-decoration: none;
    margin: 0 10px;
    text-align: center;
    color: var(--white-green-3);
}

.header .nav .row-1 .col-2 ul li a:hover {
    text-decoration: underline;
}

/* <---> */

.header .nav .row-2 {
    display: flex;
    padding: 10px 20px;
}

.header .nav .row-2 .col-1 {
    width: 100%;
    margin: auto 0;
    display: flex;
}

.header .nav .row-2 .col-1 h1 {
    margin: auto 0;
}

.header .nav .row-2 .col-1 h1 a {
    text-decoration: none;
    color: var(--green-1);
    transition: 0.3s;
}

.header .nav .row-2 .col-1 h1 a:hover {
    color: var(--white-green-3);
}

.header .nav .row-2 .col-1 ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 10px;
}

.header .nav .row-2 .col-1 ul li {
    margin: auto 0;
}

.header .nav .row-2 .col-1 ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: var(--white-green-3);
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.header .nav .row-2 .col-1 ul li a:hover {
    border-bottom: 2px solid var(--green-1);
}

.header .nav .row-2 .col-1 ul li a .fa {
    padding-right: 5px;
}

.header .nav .row-2 .col-2 {
    width: 100%;
    margin: auto 0;
    text-align: right;
}

.header .nav .row-2 .col-2 a {
    text-decoration: none;
    margin: 0 5px;
    font-size: 20px;
    color: var(--white-green-3);
}

.header .nav .row-2 .col-2 a:hover .fa {
    transform: scale(1.09);
    transition-duration: 0.3s;
}

.header .nav .row-2 .col-2 a button {
    padding: 8px 15px;
    background-color: var(--green-1);
    border: 1px solid var(--green-2);
    border-radius: 50px;
    cursor: pointer;
    color: var(--white-green-3);
    box-shadow: 4px 4px 6px var(--green-2);
}

.header .nav .row-2 .col-2 a button .fa {
    padding-left: 5px;
    border: none;
}

/* <---> */

.resp-header {
    display: none;
    /* height: 100vh; */
    /* background-image: url(pictures/soroush-karimi-Mx5kwvzeGC0-unsplash-copy.jpg); */
    background-image: url(pictures/brooke-lark-08bOYnH_r_E-unsplash-copy.jpg);
    /* background-position: center right 30%; */
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.resp-header .resp-nav {
    background-color: var(--green-1);
}

.resp-header .in-resp-nav {
    width: 80%;
    margin: 0 auto;
}

.resp-header .in-resp-nav p {
    text-align: center;
    color: var(--green-2);
    margin: 0;
    padding: 10px 0;
    line-height: 24px;
}

.resp-header .in-resp-nav a {
    text-decoration: none;
}

.resp-header .in-resp-nav a h1 {
    text-align: center;
    color: var(--white-green-3);
    margin: 15px 0;
    font-size: 32px;
}

.resp-header .in-resp-nav .dashes {
    text-align: center;
    padding: 10px 0;
    color: var(--green-2);
}

/* <---> */

.resp-header .resp-intro {
    background-color: var(--tr-green-2);
    /* height: 100vh; */
}

.resp-header .resp-intro .resp-in-intro {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.resp-header .resp-intro .resp-in-intro h3 {
    color: var(--white-green-3);
}

.resp-header .resp-intro .resp-in-intro h1 {
    color: var(--white-green-3);
}

.resp-header .resp-intro .resp-in-intro .resp-search {
    padding: 30px 10px;
    background-color: var(--white-green-1);
    border-radius: 20px;
    text-align: center;
}

.resp-header .resp-intro .resp-in-intro .resp-search p {
    color: var(--green-2);
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-category {
    display: block;
    padding: 10px 0;
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-category h4 {
    color: var(--green-1);
    margin: 5px 0 10px 0;
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-category select {
    border: none;
    background-color: transparent;
    padding: 10px 60px 10px 0;
    cursor: pointer;
    transition: 0.3s;
    color: var(--green-2);
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-category select:focus {
    outline: 1px solid var(--green-1);
    border-radius: 50px;
    padding-left: 10px;
}

.resp-header .resp-intro .resp-in-intro .resp-search hr {
    border: 1px solid var(--grey-4);
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-type {
    display: block;
    padding: 10px 0;
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-type h4 {
    color: var(--green-1);
    margin: 5px 0 10px 0;
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-type input {
    border: none;
    background-color: transparent;
    padding: 10px 60px 10px 0;
    cursor: pointer;
    transition: 0.3s;
    color: var(--green-2);
    caret-color: var(--green-1);
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-type input:focus {
    outline: 1px solid var(--green-1);
    border-radius: 50px;
    padding-left: 10px;
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-type input::placeholder {
    color: var(--green-2);
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-search-btn {
    padding: 15px 0;
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-search-btn button {
    padding: 10px 40px;
    background-color: var(--green-2);
    border: 1px solid var(--green-2);
    border-radius: 50px;
    color: var(--white-green-3);
    cursor: pointer;
    transition: 0.3s;
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-search-btn button .fa {
    padding-right: 5px;
}

.resp-header .resp-intro .resp-in-intro .resp-search .resp-search-btn button:hover {
    box-shadow: 4px 4px 6px var(--green-1);
}

.resp-header .resp-intro .resp-in-intro .resp-btns {
    width: fit-content;
    margin: 0 auto;
    padding: 30px 0;
}

.resp-header .resp-intro .resp-in-intro .resp-btns a {
    text-decoration: none;
}

.resp-header .resp-intro .resp-in-intro .resp-btns a button {
    display: block;
    margin: 15px 0;
    padding: 8px 40px;
    border: 1px solid var(--green-2);
    border-radius: 50px;
    background-color: var(--green-1);
    color: var(--white-green-3);
    font-size: 16px;
    transition: 0.3s;
}

.resp-header .resp-intro .resp-in-intro .resp-btns a button:hover {
    box-shadow: 4px 4px 6px var(--green-1);
}

.resp-header .resp-intro .resp-in-intro .resp-btns a button .fa {
    padding-left: 5px;
}

/* <---> */

.sidenav {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: var(--green-2);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
    padding: 60px 0;
}
  
.sidenav a {
    /* padding: 4px 8px 4px 32px; */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    /* color: #818181; */
    color: var(--white-green-3);
    display: block;
    transition: 0.3s;
}

.sidenav a .fa {
    padding-left: 5px;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: var(--green-1);
}

#resp-hr {
    margin: 32px;
    border: 1px solid var(--green-1);
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* <---> */

.header .intro {
    width: 80%;
    margin: 0 auto;
}

.header .intro .in-intro {
    padding: 50px 0;
    width: 50%;
}

.header .intro .in-intro h3 {
    color: var(--white-green-3);
    margin: 5px 0;
}

.header .intro .in-intro h1 {
    color: var(--white-green-3);
    margin: 10px 0 50px 0;
    font-size: 42px;
}

.header .intro .in-intro h1 span {
    border-bottom: 3px solid var(--green-1);
}

.header .intro .in-intro p {
    color: var(--grey-4);
    margin: 0;
}

.header .intro .in-intro .search {
    display: flex;
    border: 1px solid var(--green-2);
    border-radius: 50px;
    background-color: var(--white-green-3);
    /* padding: 10px 20px; */
    margin: 20px 0;
    box-shadow: 4px 4px 6px var(--green-2);
}

.header .intro .in-intro .search .category {
    width: 40%;
    margin: auto 0;
    padding: 10px 0 10px 20px;
}

.header .intro .in-intro .search .category h4 {
    margin: 10px 0 10px 0;
    color: var(--green-1);
}

.header .intro .in-intro .search .category select {
    border: none;
    background-color: transparent;
    padding: 5px 80px 5px 0;
    margin: 0 0 10px 0;
    color: var(--green-2);
    cursor: pointer;
    transition: 0.3s;
}

.header .intro .in-intro .search .category select:focus {
    outline: 1px solid var(--green-2);
    border-radius: 50px;
    padding-left: 10px;
}

.header .intro .in-intro .search hr {
    border: 1px solid var(--grey-4);
}

.header .intro .in-intro .search .type {
    width: 40%;
    margin: auto 0;
    padding: 10px 0 10px 20px;
}

.header .intro .in-intro .search .type h4 {
    margin: 10px 0 10px 0;
    color: var(--green-1);
}

.header .intro .in-intro .search .type input {
    border: none;
    background-color: transparent;
    padding: 5px 50px 5px 0;
    margin: 0 0 10px 0;
    color: var(--green-2);
    caret-color: var(--green-1);
    transition: 0.3s;
}

.header .intro .in-intro .search .type input:focus {
    outline: 1px solid var(--green-2);
    border-radius: 50px;
    padding-left: 10px;
}

.header .intro .in-intro .search .type input::placeholder {
    color: var(--green-2);
}

.header .intro .in-intro .search .search-btn {
    width: 20%;
    margin: auto 0;
}

.header .intro .in-intro .search .search-btn button {
    border: 1px solid var(--green-2);
    border-radius: 50px;
    background-color: var(--green-2);
    padding: 15px 15px;
    cursor: pointer;
    color: var(--white-green-3);
    transition: 0.3s;
}

.header .intro .in-intro .search .search-btn button .fa {
    padding-right: 5px;
}

.header .intro .in-intro .search .search-btn button:hover {
    background-color: var(--green-1);
}

.header .intro .in-intro .btns {
    padding: 15px 0;
}

.header .intro .in-intro .btns a {
    text-decoration: none;
    margin: 0 10px;
}

.header .intro .in-intro .btns a #btn-1 {
    padding: 10px 30px;
    border: 1px solid var(--green-1);
    border-radius: 50px;
    background-color: var(--green-1);
    color: var(--white-green-3);
    cursor: pointer;
    /* box-shadow: 4px 4px 6px var(--grey-4); */
    transition: 0.3s;
}

.header .intro .in-intro .btns a #btn-1:hover {
    /* box-shadow: 4px 4px 6px var(--green-1); */
    background-color: var(--green-2);
}

.header .intro .in-intro .btns a #btn-2 {
    padding: 10px 30px;
    border: 1px solid var(--green-1);
    border-radius: 50px;
    background-color: transparent;
    color: var(--white-green-3);
    cursor: pointer;
    box-shadow: 4px 4px 6px transparent;
    transition: 0.3s;
}

.header .intro .in-intro .btns a #btn-2:hover {
    box-shadow: 4px 4px 6px var(--green-1);
}

.header .intro .in-intro .btns a #btn-2 .fa {
    padding-left: 5px;
}

/* <---> */

main .doctors {
    background-color: var(--green-1);
    padding: 70px 0;
}

.doctors .cats {
    width: 80%;
    margin: 0 auto;
    display: flex;
    column-count: 4;
    column-gap: 20px;
}

.doctors .cats hr {
    display: none;
    border: 1px solid var(--green-2);
}

.doctors .cats .cat {
    width: 100%;
    /* padding: 20px 0; */
}

.doctors .cats .cat h3 {
    color: var(--green-2);
    font-size: 18px;
    margin: 5px 0;
}

.doctors .cats .cat h1 {
    color: var(--white-green-3);
    font-size: 28px;
    margin: 10px 0;
}

.doctors .cats .cat p {
    color: var(--green-2);
    margin: 30px 0;
    line-height: 24px;
}

.doctors .cats .cat a {
    text-decoration: none;
}

.doctors .cats .cat a button {
    padding: 8px 20px;
    border: 1px solid var(--green-2);
    border-radius: 50px;
    background-color: var(--white-green-1);
    color: var(--green-2);
    cursor: pointer;
    box-shadow: 4px 4px 6px var(--green-2);
    transition: 0.3s;
}

.doctors .cats .cat a button:hover {
    /* background-color: var(--white-green-3); */
    border: 1px solid var(--green-1);
    box-shadow: none;
}

.doctors .cats .cat a button .fa {
    padding-left: 5px;
    font-weight: 600;
}

/* <---> */

.dietetist {
    background-color: var(--white-green-4);
    padding: 50px 0;
}

.dietetist .in-dietetist {
    width: 80%;
    margin: 0 auto;
}

.dietetist .in-dietetist .row-1 {
    display: flex;
}

.dietetist .in-dietetist .row-1 .col-1 {
    width: 40%;
    margin: auto 0;
    text-align: left;
}

.dietetist .in-dietetist .row-1 .col-1 h1 {
    color: var(--green-2);
    font-size: 26px;
    font-weight: 100;
    padding-left: 10px;
    border-left: 3px solid var(--green-1);
}

.dietetist .in-dietetist .row-1 .col-1 h1 span {
    font-weight: 600;
}

.dietetist .in-dietetist .row-1 .col-2 {
    width: 60%;
    margin: auto 0;
    text-align: right;
}

.dietetist .in-dietetist .row-1 .col-2 a {
    text-decoration: none;
    margin: 0 5px;
}

.dietetist .in-dietetist .row-1 .col-2 a button {
    padding: 8px 20px;
    border: 1px solid var(--green-2);
    border-radius: 50px;
    background-color: var(--green-1);
    color: var(--green-2);
    cursor: pointer;
    transition: 0.3s;
}

.dietetist .in-dietetist .row-1 .col-2 a button:hover {
    box-shadow: 4px 4px 6px var(--green-2);
    /* border: 1px solid var(--green-1); */
}

.dietetist .in-dietetist .row-1 .col-2 a button .fa {
    padding-right: 5px;
}

.dietetist .in-dietetist .row-1 .col-2 a #btn-1 {
    background-color: var(--green-2);
    color: var(--white-green-3);
    box-shadow: 4px 4px 6px var(--green-2);
    cursor: default;
}

.dietetist .in-dietetist .row-2 {
    padding: 20px 0;
    display: flex;
    column-count: 4;
    column-gap: 20px;
}

.dietetist .in-dietetist .row-2 .cat {
    padding: 10px;
    border: 1px solid var(--grey-4);
    border-radius: 8px;
}

.dietetist .in-dietetist .row-2 .cat .image {
    position: relative;
    width: 100%;
}

.dietetist .in-dietetist .row-2 .cat .image img {
    width: 100%;
    height: 100%;
}

.dietetist .in-dietetist .row-2 .cat .btns {
    position: absolute;
    top: 5px;
    right: 5px;
}

.dietetist .in-dietetist .row-2 .cat .btns button {
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--grey-4);
    color: var(--green-2);
    cursor: pointer;
    transition: 0.3s;
}

.dietetist .in-dietetist .row-2 .cat .btns button:hover {
    background-color: var(--white-green-3);
}

.dietetist .in-dietetist .row-2 .cat .new {
    position: absolute;
    top: 5px;
    left: 5px;
}

.dietetist .in-dietetist .row-2 .cat .new p {
    background-color: var(--green-1);
    border: none;
    border-radius: 50px;
    padding: 4px 10px;
    font-size: 12px;
    margin: auto 0;
    color: var(--green-2);
    font-weight: 600;
}

.dietetist .in-dietetist .row-2 .cat .timer {
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.dietetist .in-dietetist .row-2 .cat .timer p {
    background-color: var(--green-1);
    border: none;
    border-radius: 5px;
    padding: 4px 15px;
    margin: auto 0;
    color: var(--green-2);
}

.dietetist .in-dietetist .row-2 .cat .timer p .fa {
    padding-right: 5px;
}

.dietetist .in-dietetist .row-2 .cat .stars {
    padding: 15px 0 0 0;
}

.dietetist .in-dietetist .row-2 .cat .stars .fa {
    color: var(--green-1);
}

.dietetist .in-dietetist .row-2 .cat h1 {
    margin: 20px 0;
    color: var(--green-2);
}

.dietetist .in-dietetist .row-2 .cat select {
    border: none;
    background-color: transparent;
    /* padding: 5px 80px 5px 0; */
    width: 100%;
    padding: 5px 0;
    margin: 0 0 10px 0;
    color: var(--green-2);
    cursor: pointer;
    transition: 0.3s;
}

.dietetist .in-dietetist .row-2 .cat select:focus {
    outline: 1px solid var(--green-1);
    border-radius: 50px;
    padding-left: 10px;
}

.dietetist .in-dietetist .row-2 .cat .total-price {
    padding: 10px 0;
}

.dietetist .in-dietetist .row-2 .cat .total-price .price {
    display: inline-block;
    margin-right: 10px;
}

.dietetist .in-dietetist .row-2 .cat .total-price .amount {
    font-size: 24px;
    /* Larger size for the number */
    font-weight: bold;
    color: var(--green-2);
}

.dietetist .in-dietetist .row-2 .cat .total-price .currency {
    font-size: 12px;
    /* Smaller size for the currency */
    vertical-align: super;
    /* Aligns the currency text lower */
    color: var(--green-2);
}

.dietetist .in-dietetist .row-2 .cat .total-price .old-price {
    text-decoration: line-through;
    /* Strikethrough for the old price */
    color: var(--grey-4);
}

.dietetist .in-dietetist .row-2 .cat .cart {
    /* text-align: center; */
    width: 100%;
}

.dietetist .in-dietetist .row-2 .cat .cart button {
    width: 100%;
    padding: 8px 20px;
    margin: 10px 0 0 0;
    border: 1px solid var(--green-2);
    border-radius: 50px;
    background-color: transparent;
    color: var(--green-2);
    cursor: pointer;
    transition: 0.3s;
}

.dietetist .in-dietetist .row-2 .cat .cart button:hover {
    background-color: var(--green-1);
}

.dietetist .in-dietetist .row-2 .cat .cart button .fa {
    padding-left: 5px;
    font-weight: 600;
}

.dietetist .more {
    width: 80%;
    margin: 50px auto;
    display: flex;
    column-count: 2;
    column-gap: 20px;
}

.dietetist .more .col {
    display: flex;
    column-count: 2;
    column-gap: 20px;
}

.dietetist .more .col .col-1 {
    position: relative;
}

.dietetist .more .col .col-1 .image-1 {
    position: relative;
    top: 20%;
    bottom: 0;
    left: 0;
    width: 80%;
}

.dietetist .more .col .col-1 .image-1 img {
    width: 100%;
    height: 100%;
}

.dietetist .more .col .col-1 .image-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}

.dietetist .more .col .col-1 .image-2 img {
    width: 100%;
    height: 100%;
}

.dietetist .more .col .col-2 h3 {
    color: var(--green-2);
    font-size: 18px;
    margin: 5px 0;
}

.dietetist .more .col .col-2 h1 {
    color: var(--green-2);
    font-size: 28px;
    margin: 10px 0;
}

.dietetist .more .col .col-2 p {
    color: var(--tr-green-2);
    margin: 30px 0;
}

.dietetist .more .col .col-2 button {
    padding: 10px 20px;
    border: 1px solid var(--green-2);
    border-radius: 50px;
    background-color: var(--green-2);
    color: var(--green-1);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.dietetist .more .col .col-2 button:hover {
    background-color: transparent;
    /* color: var(--green-2); */
}

/* <---> */

.stats {
    padding: 50px 0;
    background-color: var(--green-1);
}

.stats .in-stats {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.stats .in-stats .col {
    width: 100%;
}

.stats .in-stats .title h3 {
    color: var(--green-2);
    font-size: 18px;
    margin: 5px 0;
}

.stats .in-stats .title h1 {
    color: var(--white-green-4);
    font-size: 32px;
    margin: 10px 0;
}

.stats .in-stats .title p {
    color: var(--green-2);
    font-size: 14px;
}

.stats .in-stats .stat {
    text-align: center;
    margin: auto 0;
}

.stats .in-stats .stat h1 {
    letter-spacing: 5px;
    color: var(--green-2);
    font-size: 42px;
    margin: 5px 0;
}

.stats .in-stats .stat p {
    color: var(--white-green-4);
    font-size: 18px;
}

/* <---> */

.map {
    background-color: var(--green-3);
}

.map .in-map {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.map .in-map h1 {
    color: var(--white-green-4);
    font-size: 32px;
    margin: 30px 0;
}

/* Set the height of the iframe */
.map .in-map iframe {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 50vh; /* Set desired height */
    border: 0;
}

/* <---> */

.services {
    padding: 30px 0 60px 0;
    background-color: var(--green-3);
}

.services .in-services {
    width: 80%;
    margin: 0 auto;
}

.services .in-services h1 {
    color: var(--green-2);
    font-size: 32px;
    margin: 30px 0;
}

.services .in-services .cats {
    display: flex;
    column-count: 4;
    column-gap: 20px;
}

.services .in-services .cats .cat {
    display: block;
    background-color: var(--white-green-4);
    padding: 20px;
    border-radius: 20px;
}

.services .in-services .cats .cat .image {
    width: 100%;
    position: relative;
}

.services .in-services .cats .cat .image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.services .in-services .cats .cat .image p {
    position: absolute;
    top: 0;
    left: 10px;
    background-color: var(--tr-green-3);
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 14px;
    color: var(--white-green-4);
}

.services .in-services .cats .cat h1 {
    margin: 10px 0;
    color: var(--green-2);
    font-size: 24px;
}

.services .in-services .cats .cat .stars {
    padding: 10px 0;
    display: flex;
}

.services .in-services .cats .cat .stars span .fa {
    color: var(--green-2);
    font-size: 16px;
    margin: auto -2px;
}

.services .in-services .cats .cat .stars .reviews {
    padding: 0 10px;
}

.services .in-services .cats .cat .stars .reviews p {
    font-size: 14px;
    margin: auto 0;
    color: var(--green-2);
}

.services .in-services .cats .cat .info p {
    color: var(--green-2);
    margin: 10px 0;
}

.services .in-services .cats .cat .location p {
    color: var(--green-2);
    margin: 5px 0;
}

.services .in-services .cats .cat .location p .fa {
    padding-right: 5px;
}

.services .in-services .cats .cat .total-price {
    padding: 10px 0;
}

.services .in-services .cats .cat .total-price .price {
    display: inline-block;
    margin-right: 10px;
}

.services .in-services .cats .cat .total-price .amount {
    font-size: 24px;
    /* Larger size for the number */
    font-weight: bold;
    color: var(--green-2);
}

.services .in-services .cats .cat .total-price .currency {
    font-size: 12px;
    /* Smaller size for the currency */
    vertical-align: super;
    /* Aligns the currency text lower */
    color: var(--green-2);
}

.services .in-services .cats .cat .btn {
    /* text-align: center; */
    width: 100%;
}

.services .in-services .cats .cat .btn button {
    width: 100%;
    padding: 8px 20px;
    margin: 10px 0 0 0;
    border: 1px solid var(--green-2);
    border-radius: 50px;
    background-color: var(--green-2);
    color: var(--white-green-3);
    cursor: pointer;
    transition: 0.3s;
}

.services .in-services .cats .cat .btn button:hover {
    box-shadow: 4px 4px 6px var(--green-2);
}

.services .in-services .cats .cat .btn button .fa {
    padding-left: 5px;
    font-weight: 600;
}

/* <---> */

.testimonials {
    padding: 30px 0;
    background-color: var(--white-green-3);
}

.testimonials .in-testimonials {
    width: 80%;
    margin: 0 auto;
}

.testimonials .in-testimonials .testimonials-header {
    text-align: center;
}

.testimonials .in-testimonials .testimonials-header h1 {
    color: var(--green-2);
    font-size: 32px;
}

.testimonials .in-testimonials .testimonials-header p {
    color: var(--green-2);
}

.testimonials .in-testimonials .cats {
    display: flex;
    column-count: 3;
    column-gap: 20px;
    padding: 30px 0;
}

.testimonials .in-testimonials .cats .cat {
    display: block;
    background-color: var(--white-green-3);
    border: 1px solid var(--grey-4);
    border-radius: 20px;
    padding: 20px;
}

.testimonials .in-testimonials .cats .active-cat {
    display: block;background-color: var(--green-1);
}

.testimonials .in-testimonials .cats .cat h1 {
    margin: 10px 0;
    color: var(--green-2);
    font-size: 24px;
}

/* .testimonials .in-testimonials .cats .active-cat h1 {
    color: var(--white-green-3);
} */

.testimonials .in-testimonials .cats .cat .stars {
    padding: 10px 0;
    display: flex;
}

.testimonials .in-testimonials .cats .cat .stars span .fa {
    color: var(--green-2);
    font-size: 16px;
    margin: auto -2px;
}

.testimonials .in-testimonials .cats .active-cat .stars span .fa {
    color: var(--white-green-3);
}

.testimonials .in-testimonials .cats .cat .stars .reviews {
    padding: 0 10px;
}

.testimonials .in-testimonials .cats .cat .stars .reviews p {
    font-size: 14px;
    margin: auto 0;
    color: var(--green-2);
}

.testimonials .in-testimonials .cats .active-cat .stars .reviews p {
    color: var(--white-green-3);
}

.testimonials .in-testimonials .cats .cat .review p {
    color: var(--green-2);
    margin: 10px 0;
}

/* .testimonials .in-testimonials .cats .active-cat .review p {
    color: var(--white-green-3);
} */

.testimonials .in-testimonials .cats .cat .reviewer {
    display: block;
}

.testimonials .in-testimonials .cats .cat .reviewer .image {
    width: 10%;
    padding: 10px 0 5px 0;
}

.testimonials .in-testimonials .cats .cat .reviewer .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonials .in-testimonials .cats .cat .reviewer p {
    padding: 0;
    color: var(--green-2);
}

.testimonials .in-testimonials .cats .active-cat .reviewer p {
    color: var(--white-green-3);
}

/* <---> */

.newsletter {
    padding: 30px 0;
    background-color: var(--white-green-3);
}

.newsletter .in-newsletter {
    width: 80%;
    margin: 0 auto;
    display: flex;
    column-gap: 20px;
}

.newsletter .in-newsletter .col {
    width: 100%;
}

.newsletter .in-newsletter .image {
    width: 25%;
    height: 100%;
    margin: auto 0;
}

.newsletter .in-newsletter .image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.newsletter .in-newsletter .subscribe {
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.newsletter .in-newsletter .subscribe h3 {
    color: var(--green-2);
    font-size: 18px;
    margin: 5px 0;
}

.newsletter .in-newsletter .subscribe h1 {
    color: var(--green-2);
    font-size: 32px;
    margin: 30px 0;
}

.newsletter .in-newsletter .subscribe p {
    color: var(--tr-green-3);
}

.newsletter .in-newsletter .subscribe .subscribe-input {
    width: fit-content;
    display: flex;
    margin: 30px auto;
    border: 1px solid var(--green-1);
    border-radius: 50px;
    transition: 0.3s;
}

.newsletter .in-newsletter .subscribe .subscribe-input:hover {
    border: 1px solid var(--green-2);
}

.newsletter .in-newsletter .subscribe .subscribe-input .input-space input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--green-2);
    caret-color: var(--green-1);
    padding: 10px 20px;
}

.newsletter .in-newsletter .subscribe .subscribe-input .input-space input:focus {
    outline: none;
}

.newsletter .in-newsletter .subscribe .subscribe-input .input-space input::placeholder {
    color: var(--tr-green-2);
}

.newsletter .in-newsletter .subscribe .subscribe-input .btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--green-1);
    color: var(--green-2);
    cursor: pointer;
    transition: 0.3s;
}

.newsletter .in-newsletter .subscribe .subscribe-input .btn button:hover {
    background-color: var(--tr-green-1);
}

/* <---> */

.blog {
    padding: 30px 0 60px 0;
    background-color: var(--white-green-3);
}

.blog .in-blog {
    width: 80%;
    margin: 0 auto;
}

.blog .in-blog h1 {
    color: var(--green-2);
    font-size: 32px;
    margin: 30px 0;
}

.blog .in-blog .cats {
    display: flex;
    column-count: 4;
    column-gap: 20px;
}

.blog .in-blog .cats .cat {
    display: block;
    border: 1px solid var(--grey-4);
    border-radius: 10px;
    padding: 15px;
}

.blog .in-blog .cats .cat .image {
    position: relative;
    width: 100%;
}

.blog .in-blog .cats .cat .image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog .in-blog .cats .cat .image p {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: var(--tr-green-1);
    padding: 5px 10px;
    border-radius: 50px;
}

.blog .in-blog .cats .cat h1 {
    color: var(--green-2);
    font-size: 26px;
    margin: 10px 0;
}

.blog .in-blog .cats .cat .author p {
    color: var(--tr-green-3);
    font-size: 14px;
}

.blog .in-blog .cats .cat .date p {
    color: var(--tr-green-3);
    font-size: 14px;
}

.blog .in-blog .cats .cat .info p {
    color: var(--green-2);
}

.blog .in-blog .cats .cat .btn {
    padding: 10px 0;
}

.blog .in-blog .cats .cat .btn button {
    width: 100%;
    padding: 8px 0;
    background-color: var(--green-2);
    border: 1px solid var(--green-2);
    border-radius: 50px;
    color: var(--white-green-3);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.blog .in-blog .cats .cat .btn button:hover {
    background-color: var(--green-3);
}

/* <---> */

footer .in-footer {
    padding: 30px 0;
    background-color: var(--green-1);
}

footer .row-1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    column-count: 4;
    column-gap: 30px;
}

footer .row-1 .col {
    width: 40%;
}

footer .row-1 .habits {
    width: 100%;
}

footer .row-1 .col h3 {
    color: var(--white-green-3);
    font-size: 22px;
}

footer .row-1 .col h3 .fa {
    padding-right: 5px;
    color: var(--green-2);
}

footer .row-1 .col ul {
    padding: 0;
    list-style: none;
}

footer .row-1 .col ul li {
    width: fit-content;
    cursor: pointer;
    margin: 10px 0;
    color: var(--green-2);
    padding-right: 5px;
    border-right: 2px solid transparent;
    transition: 0.3s;
}

footer .row-1 .col ul li:hover {
    border-right: 2px solid var(--tr-green-2);
}

footer .row-1 .col h1 {
    color: var(--white-green-3);
}

footer .row-1 .col p {
    line-height: 24px;
    color: var(--green-2);
    font-size: 14px;
}

footer .row-1 .col .social-links {
    margin: 30px 0;
}

footer .row-1 .col .social-links a {
    margin-right: 10px;
    font-size: 20px;
    color: var(--white-green-3);
    background-color: var(--green-2);
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

footer .row-1 .col .social-links a:hover {
    color: var(--green-1);
}

footer .in-footer-2 {
    background-color: var(--green-3);
}

footer .in-footer-2 .row-2 {
    width: 80%;
    margin: 0 auto;
}

footer .in-footer-2 .row-2 p {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: var(--green-2);
    font-weight: 600;
}

/* <---> */

@media screen and (max-width: 414px) {
    .header {
        display: none;
    }
    .resp-header {
        display: block;
    }

    main .doctors {
        background-color: var(--green-1);
        padding: 70px 0;
    }
    .doctors .cats {
        display: block;
        column-count: 1;
        column-gap: 0;
    }
    .doctors .cats hr {
        display: block;
        margin: 30px 0;
        border: 1px solid var(--green-2);
    }

    .dietetist .in-dietetist .row-1 {
        display: block;
    }
    .dietetist .in-dietetist .row-1 .col-1 {
        width: 100%;
    }
    .dietetist .in-dietetist .row-1 .col-2 {
        width: 100%;
    }
    .dietetist .in-dietetist .row-1 .col-2 a button {
        margin: 10px 0;
    }

    .dietetist .in-dietetist .row-2 {
        display: block;
        column-count: 1;
        column-gap: 0;
    }
    .dietetist .in-dietetist .row-2 .cat {
        margin: 20px 0;
    }

    .dietetist .more {
        margin: 0 auto;
        display: block;
        column-count: 1;
        column-gap: unset;
    }
    .dietetist .more .col {
        margin: 50px 0;
    }

    .stats .in-stats {
        display: block;
    }
    .stats .in-stats .stat {
        margin: 50px 0;
    }

    .services .in-services .cats {
        display: block;
        column-count: 1;
        column-gap: unset;
    }
    .services .in-services .cats .cat {
        margin: 0 0 30px 0;
    }

    .testimonials .in-testimonials .cats {
        display: block;
        column-count: 1;
        column-gap: unset;
    }
    .testimonials .in-testimonials .cats .cat {
        margin: 20px 0;
    }

    .newsletter .in-newsletter {
        display: block;
        column-gap: unset;
    }
    .newsletter .in-newsletter .image {
        width: 100%;
    }
    .newsletter .in-newsletter .image img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .newsletter .in-newsletter .subscribe {
        width: 100%;
        margin: 50px auto;
    }

    .blog .in-blog .cats {
        display: block;
        column-count: 1;
        column-gap: unset;
    }
    .blog .in-blog .cats .cat {
        margin: 0 0 20px 0;
    }

    footer .row-1 {
        display: block;
        column-count: 1;
        column-gap: unset;
    }
    footer .row-1 .col {
        width: 100%;
        margin: 50px 0;
    }
    footer .row-1 .habits {
        width: 100%;
    }
}